

  <div class="row col-md-offset-4 col-md-4">
    <div class="list-group">
      <a class="list-group-item" [class.selected]="hero === selectedHero" *ngFor="let hero of heroes" (click)="onSelect(hero)">
        <span class="badge pull-left">{{hero.id}}</span>  {{hero.name}}
      </a>
    </div>

    <div *ngIf="selectedHero">
      <h2>
        {{selectedHero.name | uppercase}} is my hero
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>

  </div>


  <!--<app-hero-detail [hero] = "selectedHero"></app-hero-detail>-->

